@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
  background-color: rgb(170, 255, 227);
  color: black;
  font-family: 'Ubuntu', sans-serif;
}



.big-text {
  font-size: 60px;
}

.roboto-font {
  font-family: 'Roboto';
}

#small-text {
  font-size: 10px;
}

.input {
  padding: 15px;
}

.border {
  width: 200px;
  border: gray 1px solid;
  border-radius: 15px;
  padding: 10px;
}

.image {
  border-radius: 100px;
}

button {
  background-color: violet;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.space {
  height: 20px;
}