@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
  background-color: rgb(170, 255, 227);
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

.big-text {
  font-size: 60px;
}

.roboto-font {
  font-family: 'Roboto';
}

#small-text {
  font-size: 10px;
}
